span {
  color: #e74c3c;
}
.loginSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
.loginContaint {
  width: 33%;
  background-color: whitesmoke;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.infoTextDiv {
  width: 100%;
  height: 30px;
  text-align: center;
}
.infoTextDiv h3 {
  font-weight: 600;
  margin: 0;
  color: #566573;
  font-size: 20px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputFieldSection {
  width: 90%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 32px;
}
.inputFieldSection label {
  font-weight: 600;
  font-size: 18px;
}
.inputFieldSection input {
  width: 90%;
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
  box-sizing: border-box;
}
.inputFieldSection p {
  margin: 0;
  font-size: 14px;
  color: blue;
}
.inputFieldSection button {
  width: 90%;
  height: 40px;
  color: #fff;
  background-color: #3498db;
  font-size: 90%;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
}
button:hover {
  background-color: #2874a6;
  color: whitesmoke;
}
@media (max-width: 768px) {
  .loginContaint {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 468px) {
  .loginContaint {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
